@charset "UTF-8";
html {
    font: 1.2em/1.5 "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
    margin: auto;
    padding: 0;
    width: 60%;
    max-width: 600px;
    color: #333;
}

* {
    box-sizing: border-box;
}

header {
    padding: 20px 0 0 20px;
}

nav ul li {
    line-height: 2.5;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:focus,
nav ul li a:hover {
    border-bottom: 2px solid;
}
